.main {
  height: 100vh;
  overflow-y: hidden;
  background-image: url("@assets/main.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login {
  display: flex;
  flex-direction: column;
  width: calc(100vw * var(--login-width) / 1920);
  min-width: 320px;
  background: #2b92bf10;
  opacity: 1;
  backdrop-filter: blur(125px);
  border-radius: 38px;
  position: relative;
  top: calc(100vh * var(--login-top) / 1080);
  align-items: center;
}

.header-login {
  font-size: max(calc(100vw * 55 / 1920), 40px);
  color: #bbc0db;
  font-style: normal;
  font-weight: 300;
  line-height: 70px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.register {
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: center;
  width: 671px;
  min-width: 320px;
  height: 47px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 34px;
  color: #2e4756;
  margin-bottom: 10px;
}

.register-link {
  font-weight: 1000;
  color: inherit;
  text-decoration: underline;
}

@media (max-width: 600px) {
  .register {
    width: 320px;
    height: 70px;
    flex-direction: column;
    align-items: center;
    gap: 2px;
  }
}
