.form__field {
  margin-bottom: 5px;
  width: 90%;
  min-width: 186px;
}

.form__field-header {
  margin: 0;
  margin-bottom: 5px;
  font-size: 1rem;
  font-weight: 450;
  color: black;
  text-align: center;
}

.form__field-select {
  height: calc(var(--form__field-height) * 1px);
  display: flex;
  flex-direction: column;
  margin-bottom: calc(var(--error-height) * 1px);
}

.select {
  height: 100%;
  border: none;
  border-radius: 100px;
  opacity: 1;
  color: #2e4756;
  background-color: #d9d9d9;
  font-size: 1.5rem;
  padding-left: 20px;
}

@media (width: 600px) {
  .select {
    font-size: 22px;
  }
}
