.form__field-select {
  height: calc(var(--form__field-height) * 1px);
  display: flex;
  flex-direction: column;
  margin-bottom: calc(var(--error-height) * 1px);
}

.select {
  height: 100%;
  border: none;
  border-radius: 100px;
  color: black;
  background-color: #d9d9d9;
  font-size: 1.5rem;
  padding-left: 20px;
  appearance: none;
}

.select:hover {
  cursor: pointer;
}
