.link-wrapper {
  text-decoration: none;
  color: black;
}

.profile {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
}

.profile:hover {
  cursor: pointer;
}

.profile-logo {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  border: 1px solid transparent;
  background-color: lightgray;
}

.profile-name {
  font-weight: 500;
}
