.month {
  margin-bottom: 20px;
  border: 2px solid #f2f3fa;
  border-radius: 10px;
  overflow: hidden;
}

.calendar-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.calendar-nav-button {
  padding-bottom: 9px;
  line-height: 0.8;
  font-size: 2.5rem;
  border: none;
  background: none;
}

.calendar-nav-button:hover {
  cursor: pointer;
  background-color: #d9d9d9;
}

.calendar-nav-button:active {
  background-color: #b3b3b3;
}

.calendar-nav-p {
  font-size: 1.2rem;
  margin-top: 5px;
  margin-bottom: 5px;
}

.weekday {
  background-color: #f2f3fa;
  height: 30px;
}

.day {
  border: 2px solid #f2f3fa;
  width: 56px;
  height: 46px;
  text-align: center;
}

.day_button {
  width: 3ch;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
  background: none;
  font-size: 1.5rem;
  border: none;
  border-radius: 5px;
}

.month_grid {
  border-collapse: collapse;
}

.month_grid .day:first-child {
  border-left: none;
}

.month_grid .day:last-child {
  border-right: none;
}

.month_grid .day:nth-last-child(-n + 7) {
  border-bottom: none;
}

.day_button:hover {
  cursor: pointer;
}

.disabled > .day_button:hover {
  cursor: not-allowed;
}

.selected > .day_button {
  background: linear-gradient(#3e96fd, #1a67f9);
  border-radius: 5px;
  color: white;
}
