.contacts {
  display: flex;
  flex-direction: column;
  gap: 2px;
  text-align: left;
  overflow: hidden; /* Обрезаем длинный email */
}

.phone {
  margin: 0;
  font-size: 0.95rem;
  color: var(--text-color);
  font-weight: 500;
}

.email {
  margin: 0;
  font-size: 0.8rem;
  color: var(--label-color);
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}