.main {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: var(--background-color);
}

.content {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 28px 40px;
    box-sizing: border-box;
    flex: 1;
}

.grid {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 24px;
    align-items: stretch;
}

@media (max-width: 1000px) {
    .grid {
        grid-template-rows: 1fr 1fr;
    }
}