.main {
  padding-left: 20px;
  padding-right: 20px;
  background: #f5f6fa;
  height: 100vh;
  overflow-y: hidden;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.settings {
  background-color: var(--employee-background-color);
}

li.settings {
  background-color: var(--employee-background-color);
}

button.color,
label.color,
div.color {
  color: var(--employee-background-color);
  border-color: var(--employee-background-color);
}

.cards {
  display: grid;
  grid-template-columns: 400px 1fr 400px;
  grid-template-rows: 510px 140px;
  gap: 20px;

  grid-template-areas:
    "profile schedule attendance"
    "adjustments schedule attendance";
}

.profile {
  grid-area: profile;
}

.adjustments {
  grid-area: adjustments;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.cards > .schedule {
  grid-area: schedule;
  max-height: 470px;
}

.cards > .attendance {
  grid-area: attendance;
  min-height: 500px;
}

.card,
.cards > .schedule,
.cards > .attendance {
  background: #ffffff;
  border-radius: 16px;
  padding: 20px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.05);
  transition: 0.2s ease;
}

.card:hover,
.cards > .schedule:hover,
.cards > .attendance:hover {
  transform: translateY(-2px);
  box-shadow: 0 6px 24px rgba(0, 0, 0, 0.08);
}

.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.profile-logo {
  width: 105px;
  height: 105px;
  border-radius: 50%;
}

.profile-name {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 10px;
}

.profile-position {
  font-size: 1rem;
  margin-top: 5px;
  margin-bottom: 5px;
}

.profile-contacts-email,
.profile-contacts-phone {
  font-size: 1rem;
  margin-top: 5px;
  margin-bottom: 5px;
}

.fines,
.bonuses {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  padding-left: 10px;
  font-size: 1.1rem;
  font-weight: 500;
  border-radius: 5px;
}

.fines {
  background: #ffecec;
  color: #d63031;
}

.bonuses {
  background: #eaffea;
  color: #27ae60;
}

.card-header {
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 5px;
}

.profile-salary-header {
  font-size: 1rem;
  margin-top: 5px;
  margin-bottom: 0px;
}

.profile-salary {
  font-size: 2rem;
  font-weight: 700;
  margin: 6px 0 10px;
}

.rate-amount,
.rate-type {
  font-size: 1.2rem;
  margin: 0;
}

@media (max-width: 1450px) {
  .cards {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
  }

  .profile {
    align-items: flex-start;
    text-align: left;
  }

  .cards > .schedule {
    min-height: 500px;
  }
}
