.main {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;

  background-color: #f2f3f9;
  overflow-y: hidden;
}

.header {
  align-self: self-start;
  margin-left: 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.header-logo {
  width: 35px;
  height: 35px;
}

.header-h1 {
  font-size: 2rem;
  font-weight: 450;
}

.cards {
  width: 97%;
  display: grid;
  grid-template-columns: repeat(33, 1fr);
  grid-auto-rows: auto;
  gap: 30px;
}
