.cell-center {
  display: flex;
  justify-content: center;
}

.time-wrapper {
  display: inline-flex;
  align-items: center;
  gap: 6px;
  background-color: var(--input-bg);
  /* Единый серый фон */
  padding: 6px 12px;
  border-radius: 8px;
}

.separator {
  color: var(--text-color);
  font-weight: 600;
  font-size: 0.95rem;
}

.time-text {
  font-size: 0.95rem;
  font-weight: 600;
  color: var(--text-color);
}

.late-text {
  color: var(--error-color);
}