.main {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  background-color: #f2f3f9;
  overflow-y: hidden;
}

.panel {
  width: 95%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.header {
  align-self: self-start;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.header-logo {
  width: 35px;
  height: 35px;
}

.header-h1 {
  font-size: 2rem;
  font-weight: 450;
}

.cards-wrapper {
  overflow: hidden;
  width: 97%;
  height: 95%;
}

.cards {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(43, 1fr);
  grid-template-rows: repeat(10, 1fr);
  gap: 30px;
}

.button {
  color: black;
}

.button:active {
  background-color: #2e4e75;
}

.delete-button {
  color: red;
  background-color: #ffb2b2;
}

.delete-button:hover {
  background-color: #d99797;
}

.delete-button:active {
  background-color: #a67474;
}

@media (max-height: 875px) {
  .cards {
    margin-bottom: 30px;
    overflow-y: auto;
  }
}

@media (max-width: 1450px) {
  .cards {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
  }
}
