.card {
  min-height: 85px;
  border-radius: 15px;
}

.buttons {
  grid-column: 22 / 44;
  grid-row: 8 / 10;
  justify-self: center;
  max-width: fit-content;
  padding-left: 20px;
  padding-right: 20px;
}

.mode-add {
  grid-row: 6 / 7;
}

.content {
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.mode-dossier {
  gap: 20px;
}

.delete-button {
  color: red;
  background-color: #ffb2b2;
}

.delete-button:hover {
  background-color: #d99797;
}

.delete-button:active {
  background-color: #a67474;
}

.main-button {
  background-color: #5f8ef2;
  color: white;
}

.main-button:hover {
  background-color: #3f76ea;
}

.main-button:active {
  background-color: #154ecf;
}

@media (max-width: 1450px) {
  .buttons.card {
    margin: 0;
    align-self: center;
  }
}
