.form__field {
  margin-bottom: 5px;
  width: calc(100% * var(--form__field-width) / var(--login-width));
  min-width: 186px;
}

.form__field-div {
  display: flex;
  align-items: center;
  height: calc(var(--form__field-height) * 1px);
  position: relative;
}

.form__field-div-input {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  border: 1px solid transparent;
  border-radius: 100px;
  opacity: 1;
  color: #2e4756;
  background-color: #d9d9d9;
  font-size: 1.5rem;
  padding-left: 20px;
  padding-right: 55px;
}

.icon {
  position: absolute;
  pointer-events: none;
  width: 25px;
  height: 25px;
  right: 4%;
}

.error {
  display: block;
  color: #ff6f61;
  font-size: 1.2rem;
  min-height: calc(var(--error-height) * 1px);
}

.form__field-div-input.incorrect {
  border: 1px #ff6f61 solid;
}

@media (width: 600px) {
  .form__field-div-input {
    font-size: 22px;
    padding-right: 43px;
  }

  .icon {
    width: 18px;
    height: 18px;
    right: 5%;
  }
}
