.button-container {
  display: flex;
  flex-direction: row;
  gap: 30px;
}

.cancel_dialog,
.save_dialog {
  font-size: 2rem;
  border: none;
  width: 600px;
  height: 200px;
  border-radius: 20px;
  overflow: hidden;
}

.cancel_dialog-content,
.save_dialog-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dialog-button {
  text-decoration: none;
  font-size: 1.75rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: calc(100vh * 60.19 / 1080);
  min-height: 60px;
  background-color: #d9d9d9;
  color: #2e4756;
  border: none;
  border-radius: 100px;
  padding-left: 15px;
  padding-right: 15px;
  margin-top: 40px;
}

.dialog-button:hover {
  background-color: #80808073;
  color: white;
  cursor: pointer;
}

.dialog-button:active {
  background-color: #2e4756;
  color: white;
}

.main-button {
  background-color: #5f8ef2;
  color: white;
}

.main-button:hover {
  background-color: #3f76ea;
}

.main-button:active {
  background-color: #154ecf;
}

.cancel_dialog::backdrop,
.save_dialog::backdrop {
  background-color: gray;
  opacity: 0.5;
}
