body {
  height: 100vh;
  overflow-y: hidden;
  background-image: url("./assets/login.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  font-family: "Inter", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login {
  display: flex;
  flex-direction: column;
  width: calc(100vw * 800 / 1920);
  min-width: 280px;
  background: #2b92bf10;
  opacity: 1;
  backdrop-filter: blur(125px);
  border-radius: 38px;
  position: relative;
  top: calc(100vh * 70 / 1080);
  align-items: center;
}

.header-login {
  font-size: max(calc(100vw * 75 / 1920), 40px);
  color: #bbc0db;
  font-style: normal;
  font-weight: 300;
  line-height: 70px;
  margin: 0px;
  margin-top: 20px;
}

.form__field {
  margin-top: calc(100vh * 73 / 1080);
  width: calc(100% * 701 / 800);
  min-width: 186px;
  max-width: 701px;
}

.email,
.password {
  display: flex;
  align-items: center;
  height: calc(100vh * 43 / 800);
  max-height: 43px;
}

.email-input,
.password-input {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 100px;
  opacity: 1;
  color: #2e4756;
  background-color: #d9d9d9;
  font-size: 25px;
  padding-left: 20px;
}

.email-icon,
.password-icon {
  position: absolute;
  pointer-events: none;
}

.email-icon {
  width: 28px;
  height: 25px;
  right: 9%;
}

.password-icon {
  width: 25px;
  height: 25px;
  right: 9%;
}

.error {
  color: #ff6f61;
  font-size: 21px;
}

.incorrect {
  border: 1px #ff6f61 solid;
}

.login-button {
  width: 221px;
  height: calc(100vh * 60.19 / 1080);
  min-height: 40px;
  background-color: #d9d9d9;
  color: #2e4756;
  border: none;
  border-radius: 100px;
  margin-top: calc(100vh * 68 / 1080);
  margin-bottom: calc(100vh * 68 / 1080);
  font-size: 28px;
}

.login-button:hover {
  background-color: #80808073;
  color: white;
  cursor: pointer;
}

.login-button:active {
  background-color: #2e4756;
  color: white;
}

.register {
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: center;
  width: 671px;
  min-width: 320px;
  height: 47px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 34px;
  color: #2e4756;
}

.register-link {
  font-weight: 1000;
  color: inherit;
  text-decoration: underline;
}

@media (max-width: 700px) {
  .login-button {
    width: 150px;
    font-size: 25px;
  }
  .register {
    width: 320px;
    height: 70px;
    flex-direction: column;
    align-items: center;
    gap: 2px;
  }

  .email-icon {
    width: 20px;
    height: 18px;
    right: 12%;
  }

  .password-icon {
    width: 18px;
    height: 18px;
    right: 12%;
  }
}
