.main {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Inter", sans-serif;
  background-color: #f2f3f9;
}

.menu {
  width: 1920px;
  min-width: 800px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding-top: 30px;
  padding-bottom: 20px;
  margin-bottom: 60px;
  border-bottom: 5px solid #6583ec;
}

.navigation {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.link {
  height: 40px;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: #e4e7f3;
  color: #000080;
  border: 1px solid #d3d3d3;
  border-radius: 5px;
  font-size: 1.25rem;
}

.link:hover {
  background-color: #c2c4cf;
  cursor: pointer;
}

.link:active {
  background-color: #abadb6;
}

.settings {
  margin-left: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 50px;
  background-color: #5f8ef2;
  border: none;
  border-radius: 5px;
}

.settings > img {
  height: 45px;
  width: 45px;
}

.company {
  background-color: white;
  width: 1500px;
  height: 300px;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  padding: 20px;
}

.company_img {
  border-radius: 50%;
  width: 300px;
  height: 300px;
}

.company_info {
  margin-left: 40px;
}

.company_info-name,
.company_info-legal_adress {
  margin-top: 1em;
  margin-bottom: 0.3em;
}

.company_info-name {
  font-size: 2.5rem;
  font-weight: 500;
}

.company_info-legal_adress {
  font-size: 1.5rem;
  font-weight: 450;
}

.company_info-inn,
.company_info-address {
  font-size: 1.25rem;
  margin-top: 5px;
  margin-bottom: 5px;
}

.settings-menu {
  display: flex;
  flex-direction: column;
  background-color: #e4e7f3;
  padding: 3px;
  border: 1px solid #6583ec;
  border-radius: 5px;
  position: absolute;
  top: 90px;
  left: 1620px;
  visibility: hidden;
}

.show {
  visibility: visible;
  transform: translateY(10px);
  transition-duration: 0.2s;
}

.setting {
  display: flex;
  align-items: center;
  padding-top: 4px;
  padding-bottom: 4px;
  background-color: #e4e7f3;
}

.setting:hover,
.setting .setting-button:hover,
.setting:hover .setting-button {
  background-color: #c2c4cf;
  cursor: pointer;
}

.setting:active,
.setting .setting-button:active,
.setting:active .setting-button {
  background-color: #476bb6;
}

.setting > img {
  width: 20px;
  height: 20px;
  pointer-events: none;
}

.border {
  list-style: none;
  background-color: #6583ec;
  height: 1px;
}

.setting-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: #000080;
  border: none;
  font-size: 0.95rem;
}
