.main {
  font-family: "Inter", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: hidden;
  height: 100vh;
  background-image: url("./assets/main.png");
  background-position: center;
  background-repeat: no-repeat;
}

.login {
  max-height: 650px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #2b92bf10;
  opacity: 1;
  backdrop-filter: blur(125px);
  border-radius: 38px;
  position: relative;
  top: calc(100vh * (var(--login-top) - 60) / 1080);
  overflow: hidden;
}

.login__scroll {
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  width: calc(100vw * var(--login-width) / 1920);
  min-width: 320px;
  align-items: center;
  overflow-y: auto;
  scroll-behavior: smooth;
}

.header-login {
  font-size: max(calc(100vw * 55 / 1920), 40px);
  color: #bbc0db;
  font-style: normal;
  font-weight: 300;
  line-height: 70px;
  margin-top: 15px;
  margin-bottom: 15px;
}
