.main {
  font-family: "Inter", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: hidden;
  height: 100vh;
  background-image: url("./assets/main.png");
  background-position: center;
}

.login {
  max-height: 650px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #2b92bf10;
  opacity: 1;
  backdrop-filter: blur(125px);
  border-radius: 38px;
  position: relative;
  top: calc(100vh * (var(--login-top) - 60) / 1080);
  overflow: hidden;
}

.login__scroll {
  display: flex;
  flex-direction: column;
  width: calc(100vw * var(--login-width) / 1920);
  min-width: 320px;
  align-items: center;
  overflow-y: auto;
  scroll-behavior: smooth;
}

.header-login {
  font-size: max(calc(100vw * 55 / 1920), 40px);
  color: #bbc0db;
  font-style: normal;
  font-weight: 300;
  line-height: 70px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.form__field {
  margin-bottom: 5px;
  width: calc(100% * var(--form__field-width) / var(--login-width));
  min-width: 186px;
}

.form__field-div {
  display: flex;
  align-items: center;
  height: max(calc(100vh * var(--form__field-height) / 800), 36px);
  position: relative;
}

.form__field-div-input {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 100px;
  opacity: 1;
  color: #2e4756;
  background-color: #d9d9d9;
  font-size: 25px;
  padding-left: 20px;
  padding-right: 55px;
}

.icon {
  position: absolute;
  pointer-events: none;
  width: 25px;
  height: 25px;
  right: 4%;
}

.password-icon {
  position: absolute;
  width: 30px;
  height: 30px;
  right: 3%;
}

.password-icon:hover {
  cursor: pointer;
}

.error {
  display: block;
  color: #ff6f61;
  font-size: 21px;
  min-height: calc(var(--error-height) * 1px);
}

.incorrect {
  border: 1px #ff6f61 solid;
}

.form__field-select {
  height: max(calc(100vh * var(--form__field-height) / 800), 50px);
  display: flex;
  flex-direction: column;
}

.select {
  border: none;
  border-radius: 20px;
  opacity: 1;
  color: #2e4756;
  background-color: #d9d9d9;
  font-size: 25px;
  padding-left: 20px;
}

.register-button {
  width: 221px;
  height: calc(100vh * 60.19 / 1080);
  min-height: 40px;
  background-color: #d9d9d9;
  color: #2e4756;
  border: none;
  border-radius: 100px;
  margin-bottom: 50px;
  font-size: 28px;
}

.register-button:hover {
  background-color: #80808073;
  color: white;
  cursor: pointer;
}

.register-button:active {
  background-color: #2e4756;
  color: white;
}

.register-button:disabled {
  cursor: not-allowed;
}

@media (max-width: 600px) {
  .register-button {
    width: 150px;
    font-size: 25px;
  }

  .form__field-div-input {
    font-size: 22px;
    padding-right: 43px;
  }

  .select {
    font-size: 22px;
  }

  .icon {
    width: 18px;
    height: 18px;
    right: 5%;
  }
}
